body,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

* {
    box-sizing: border-box;
}

.main {
    padding: 55px 0 65px;
}

.icon {
    text-align: center;
}

.typeoficon {
    list-style: none;
    padding: 0;
    margin: 0;
}

.figure {
    padding: 0;
    margin: 0;
}
    
.typeoficon li {
    display: inline-block;
    padding: 0 70px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #2a69ab;
    font-size: 3rem;
    width: 65px;
    height: 65px;
    margin: auto;
    background-color: #2a69a6;
    margin-bottom: 20px;
}

.icon-wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper1 {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #2a69ab;
    font-size: 3rem;
    width: 65px;
    height: 65px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
}

.fa-mobile {
    color: #2a69a6;
}

.text {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-family: "Proxima Nova";
    padding-bottom: 25px;
    margin: 0;
}

.text2 {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #9d9d9d;
    font-weight: 300;
    font-family: "Proxima Nova";
    width: 260px;
    height: 51px;
}

.icon-wrapper:hover {
    background-color: white;
}

i:hover {
    color: #2a69a6;
}

i {
    color: white;
    font-size: 25px;
}

.fa-mobile:hover {
    color: white;
}


